#wrapper {
	clear : both;
	margin : 15px 15px 15px 15px;
}
body {
	color:white;
}
a {
	text-decoration:none;
	color:orange;
}
.label {
    font-weight: normal;
}
form[name="login"] {
	display:block;
	width:15vw;
	margin: 0 auto;
}
form[name="books"] {
	text-align:center;
}

.forminline {	
	display:inline;
}