@import url('https://fonts.googleapis.com/css?family=Pacifico');
#logo {
	
}
header {
	display:flex;
	flex-flow: row warp;
	justify-content: space-between;
}
#logo {
	border-radius: 1em;
}
#menu {
	
}
nav {
	display : flex;
	font-family: 'Pacifico', cursive;
}

nav div {
	float : right;
}
#login {
	text-align:center;
}