@import url('https://fonts.googleapis.com/css?family=Pacifico');
#logo {
	float : left;
	overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
}

nav {
	display : flex;
	font-family: 'Pacifico', cursive;
}

nav div {
	float : right;
}